<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#/">Blog World</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home"> Home <span class="sr-only">(current)</span></a></li>
                <li ui-sref-active="active" ng-if="!loggedIn"><a ui-sref="login">Login</a></li>
                <li ui-sref-active="active" ng-if="!loggedIn"><a ui-sref="signup">Signup </a></li>
                <li class="dropdown" ng-if="loggedIn">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="create">Create A Post</a></li>
                        <li><a ui-sref="MyBlogs"> My Blogs</a></li>
                        <li><a href="#">Share</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Write A Review</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Check Our Beta Website!</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="loggedIn">
                <li class="dropdown" ng-if="loggedIn">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{displayName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="home" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>